@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+m:wght@300&family=Rufina&display=swap');

:root{
    --cor01: #4C4D71;
    --cor02: #F2EDDB;
    --cor03: #920202;
    --cor04: #413244;
    --cor05: #014034;
    --fonte-titulo: 'Antonio Sans', sans-serif;
    --fonte-subTitulo: 'Open Sans m', sans-serif;
    --fonte-padrao: 'Open Sans', sans-serif;
    --sombra: 2px 2px 0px rgba(0, 0, 0, 0.459);
}


body{
    background-color: var(--cor01);
    background-size: cover;
    font-family: var(--fonte-padrao);
}

body h1{
    color: var(--cor02);
text-align: center;
font-family: var(--fonte-titulo);
}



header h1 > sup {
    display: flex;
    justify-content: end;
    color: white;
    font-size: 15px;
}



nav{
    margin: 10px;
    text-align: center;
    background-color: rgb(10, 0, 98);
    box-shadow: 5px 5px 15px rgb(13, 13, 13, 0.616);
    border-radius: 10px;
}

nav a{
    color: var(--cor02);
    font-size: 30px;
    margin: 0px 15px;
    text-decoration: none;
}

nav a:hover{
    background-color: var(--cor02);
    color: black;
}

main{
background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(13, 13, 13, 0.616);
    width: 70%;
    padding: 100px;
    margin: auto;
}

main .conjunto{
    display: flex;
    justify-content: space-between;
}

main .conjunto > p{
text-align: center; 
}

main .conjunto > img{
    width: 200px;
    height: 200px;
}

main .atualizacao {
    text-align: center;
}


main .comeco{
    text-indent: 100px;
    text-decoration: underline;
}

main .subtitulo{
    text-align: center;
}

main .juntar{
    display: flex;
    justify-content: center;
}

main li{
    text-decoration: underline;
}


main h3{
    text-indent: 100px;
    text-decoration: underline;
    color: var(--cor01)
}

#iconHandbrake{
    width: 100px;
    height: 100px;
}


#iconVs{
    width: 100px;
    height: 100px;
}

#wDeveloper{
    width: 100px;
    height: 100px;
}

#omni{
    width: 100px;
    height: 100px;
}

#pt{
    width: 100px;
    height: 100px;
}

#ls{
    width: 107px;
    height: 100px;
    margin-top: 50px;
}

#photopea{
    width: 100px;
    height: 100px;
}

#iconGimp{
    width: 100px;
    height: 100px;
}

#emojipedia{
    width: 100px;
    height: 100px;
}