@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+m:wght@300&family=Rufina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800;900&family=Playfair+Display:wght@500&display=swap');
@font-face{
    font-family: fonth3;
    src: url('src/font/SaintCarellClean_PERSONAL_USE_ONLY.otf') format(opentype);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: maiuscula;
    src: url('src/font/SaintCarell_PERSONAL_USE_ONLY.otf') format(opentype);
}


:root{
    --cor01: #4C4D71;
    --cor02: #F2EDDB;
    --cor03: #920202;
    --cor04: #413244;
    --cor05: #c4bbff;
    --fonte-titulo: 'Playfair Display', serif;
    --fonte-subTitulo: 'Montserrat', sans-serif;
    --fonte-h3: 'fonth3', 'Open Sans', sans-serif
    --fonte-padrao: 'Open Sans', sans-serif;
    --sombra: 2px 2px 0px rgba(0, 0, 0, 0.459);
}

*{
    margin: 0px;
    padding: 0;
}

body{
    background-image: linear-gradient(to top, var(--cor04), #31324a, var(--cor01) );
    background-size: cover;
    font-family: var(--fonte-padrao);
    
}


body h1{
    font-family: var(--fonte-titulo);
color: var(--cor02);
text-align: center;
text-shadow: 1px 1px 4px #716f66;
font-size: 35px;
}


body h2 {
    font-size: 30px;
    font-family: var(--fonte-subTitulo);
    color: #1d0122;
}

body h3{
    font-size: 25px;
    font-family: fonth3;
}


body p, h3 > li{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

body .maiusculo{
    font-family: maiuscula;
    font-size: 50px;
    margin-bottom: 10px;
}

header h1{
    margin-bottom: 20px;
}

header h1 > sup {
    display: flex;
    justify-content: end;
    color: white;
    font-size: 15px;
}



nav{
    min-width: 300px;
    max-width: 1430px;
    margin: auto;
    margin-bottom: -3px; 
    text-align: center;
    background-color: rgb(10, 0, 98);
    box-shadow: 5px 5px 15px rgb(13, 13, 13, 0.616);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

nav a{
    color: var(--cor02);
    font-size: 30px;
    margin: 0px 15px;
    text-decoration: none;
}

nav a:hover{
    background-color: var(--cor02);
    color: black;
}

main a{
    color: #8678ff;
    text-decoration: none;
}

main a:hover{
    text-decoration: underline;
}

main{
    border: 4px solid #0000a4;
    background-color: white;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 6px 6px 16px rgb(13, 13, 13, 0.616);
    min-width: 300px;
    max-width: 1323px;
    padding: 50px;
    
}

main mark{
    background-color: #f0e087;
    color: #010781;
}

main p{
    margin: 15px 0px;
    font-size: 1.3em;
    font-weight: normal;
    line-height: 1.5em;
    text-indent: 30px;
}

main .conjunto{
    display: flex;
    justify-content: space-between;
}

main h2{
    margin: 30px 0px;
}

main h3{
    text-indent: 50px;
    text-decoration: underline;
    color: var(--cor01);
}

main .subtitulo{
    text-align: center;
}

main li{
    text-decoration: underline;
}

main .container {
    display: flex;
    justify-content: space-around;
}

main .container2 {
    display: flex;
    justify-content: center;
}

main .dividir{
    margin: 50px;
}

#centralize{
    text-align: center;
    margin-bottom: 10px;
}

#mapTesouro{
    height: 200px;
    width: 200px;
}

#comeco{
    text-indent: 100px;
    text-decoration: underline;
}

